[Unit]
Description=Lobby App Server (nginx)
After=network.target
PartOf=lobby-kiosk.target

[Service]
Type=forking
ExecStart=/usr/bin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PIDFile=/run/nginx.pid
Restart=always
RestartSec=10
TimeoutStartSec=30

[Install]
WantedBy=lobby-kiosk.target