[Unit]
Description=Lobby Kiosk System
Wants=lobby-app.service lobby-display.service lobby-watchdog.service
After=network-online.target
Requires=network-online.target

[Install]
WantedBy=multi-user.target